body {
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  background-color: #fff;
  color: #363636;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
}

.btn-primary {
  background-color: #ff6d5a;
  color: #fff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}

#header .navbar {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);
          box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);
}

#header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header .content .brand_header .brand_logo {
  fill: #1dc078;
  margin-right: 8px;
  padding: 10px 0;
}

#header .content .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .content .navbar-menu .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .content .navbar-menu .left-menu .item {
  font-size: 16px;
  padding: 10px 16px;
}

#header .content .navbar-menu .left-menu .item:hover {
  color: #1dc078;
  cursor: pointer;
}

#header .content .navbar-menu .left-menu .dropdown {
  position: relative;
}

#header .content .navbar-menu .left-menu .dropdown .submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 180px;
  height: 410px;
  top: 40px;
  left: -10px;
  -webkit-box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);
          box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);
}

#header .content .navbar-menu .left-menu .dropdown .submenu:hover {
  display: block;
}

#header .content .navbar-menu .left-menu .dropdown .submenu .submenu-item {
  padding: 10px 10px;
}

#header .content .navbar-menu .left-menu .dropdown .submenu-small {
  width: 120px;
  height: auto;
}

#header .content .navbar-menu .left-menu .dropdown:hover .submenu {
  display: block;
}

#header .content .navbar-menu .right-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .content .navbar-menu .right-menu .search-box {
  position: relative;
  margin-right: 8px;
}

#header .content .navbar-menu .right-menu .search-box .search {
  background-color: #f6f6f6;
  padding: 5px 9px;
  height: 36px;
  width: 176px;
  border: none;
}

#header .content .navbar-menu .right-menu .search-box .search:hover {
  border: 1px solid #b5b5b5;
}

#header .content .navbar-menu .right-menu .search-box .search:focus {
  border-color: #1dc078;
  outline: 2px solid #1dc078;
}

#header .content .navbar-menu .right-menu .search-box .search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

#header .content .navbar-menu .right-menu .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .content .navbar-menu .right-menu .btn-group a {
  text-decoration: none;
}

#main {
  margin-top: 64px;
}

.swiper-container.top {
  height: 320px;
  position: relative;
  overflow: visible;
}

.swiper-container.top .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container.top .swiper-pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
}

.swiper-container.top .swiper-pagination-container .pagination-control {
  padding: 0 1rem;
  width: 135px;
  height: 36px;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container.top .swiper-pagination-container .pagination-control button {
  display: block;
  padding: 0;
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 14px;
}

.swiper-container.top .swiper-pagination-container .pagination-control button.invisible {
  display: none;
}

.swiper-container.top .swiper-button-prev.top,
.swiper-container.top .swiper-button-next.top {
  position: relative;
}

.swiper-container.top .divider {
  margin: 0 1rem;
  width: 1px;
  height: 36px;
  background-color: #dee2e6;
}

.swiper-container.top .swiper-slide {
  width: 90%;
}

.swiper-container.top .swiper-slide .slide-content {
  height: 100%;
}

.swiper-container.top .swiper-slide .slide-content .container {
  height: 100%;
}

.swiper-container.top .swiper-slide .cover_right {
  width: 730px;
  height: 100%;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container.top .swiper-slide .cover_right img {
  max-width: 100%;
}

.swiper-container.top .swiper-slide .cover_left {
  position: absolute;
  top: 44%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  max-width: 600px;
}

.swiper-container.top .swiper-slide .cover_left .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container.top .swiper-slide .cover_left .tags div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 24px;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 4px;
  margin-right: 8px;
}

.swiper-container.top .swiper-slide .cover_left .title {
  font-size: 2rem;
  white-space: pre;
  font-weight: 700;
  line-height: 1.2;
}

.swiper-container.top .swiper-slide .cover_left p {
  line-height: 1.5;
}

.swiper-container.top .swiper-pagination.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container.top .swiper-pagination.top .swiper-pagination-bullet {
  display: block;
  width: auto;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: #495057;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 0 1px #ced4da;
          box-shadow: inset 0 0 0 1px #ced4da;
  background-color: #fff;
  cursor: pointer;
}

section.search {
  margin-top: 64px;
  border-top: 1px solid #e9ecef;
}

section.search .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

section.search .title {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

section.search .search-wrapper {
  position: relative;
  width: 580px;
  font-size: 16px;
}

section.search .search-wrapper input {
  background-color: rgba(29, 192, 120, 0.12);
  border: 1px solid rgba(29, 192, 120, 0.24);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 14px 20px;
  border-radius: 28px;
  display: inline-block;
  width: 100%;
  outline: none;
  height: 54px;
}

section.search .search-wrapper input::-webkit-input-placeholder {
  color: #9FCAB7;
}

section.search .search-wrapper input:-ms-input-placeholder {
  color: #9FCAB7;
}

section.search .search-wrapper input::-ms-input-placeholder {
  color: #9FCAB7;
}

section.search .search-wrapper input::placeholder {
  color: #9FCAB7;
}

section.search .search-wrapper input:focus::-webkit-input-placeholder {
  color: #5f5f5f;
}

section.search .search-wrapper input:focus:-ms-input-placeholder {
  color: #5f5f5f;
}

section.search .search-wrapper input:focus::-ms-input-placeholder {
  color: #5f5f5f;
}

section.search .search-wrapper input:focus::placeholder {
  color: #5f5f5f;
}

section.search .search-wrapper input:focus {
  background-color: #f6f6f6;
  color: #5f5f5f;
  border-color: #5f5f5f;
}

section.search .search-wrapper .fas {
  position: absolute;
  top: 18px;
  right: 20px;
}

section.welcome {
  padding-top: 24px;
}

section.welcome .title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}

section.welcome .title .courses_tag {
  color: #fa4c3d;
  font-size: 12px;
  font-weight: 700;
}

section.welcome .title .icon {
  color: grey;
}

section.welcome .subtext {
  color: grey;
  font-weight: 400;
  margin-top: 4px;
}

section.welcome .welcome-slide {
  position: relative;
}

section.welcome .welcome-slide .welcome-btn {
  opacity: 0.85;
  cursor: pointer;
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 120px;
}

section.welcome .welcome-slide .welcome-btn.disable {
  color: #efefef;
  border: 1px solid #efefef;
  cursor: not-allowed;
}

section.welcome .welcome-slide .welcome-button-prev {
  left: -20px;
}

section.welcome .welcome-slide .welcome-button-next {
  right: -20px;
}

section.welcome .swiper-container.welcome {
  margin-top: 25px;
}

section.welcome .swiper-container.welcome .swiper-slide {
  cursor: pointer;
}

section.welcome .swiper-container.welcome .swiper-slide .card-front:hover {
  opacity: 0.5;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course {
  position: relative;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
  display: none;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-back .course_title {
  font-size: 16px;
  line-height: 1.25;
  padding: 8px;
  font-weight: 700;
  text-overflow: ellipsis;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-back .course_description {
  padding: 8px;
  line-height: 1.25;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-back .back_course_meatas {
  color: #c5ebf8;
  padding: 8px;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-back .course_card_control {
  position: absolute;
  bottom: 0;
  right: 2px;
  color: #fff;
  line-height: 1.65;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course:hover > .card-back {
  display: block;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course img {
  max-width: 100%;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-content {
  margin-top: 8px;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-content .course-title {
  font-weight: 700;
  line-height: 1.5rem;
  height: 3rem;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-content .instructor {
  color: grey;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-content .rating {
  margin-bottom: 8px;
  color: #fdcc11;
}

section.welcome .swiper-container.welcome .swiper-slide .card-course .card-content .rating .review_cnt {
  color: black;
}

section.welcome .swiper-container.welcome .swiper-slide .price {
  color: #175cbe;
  font-weight: 700;
  margin-bottom: 14px;
}

section.welcome .swiper-container.welcome .swiper-slide .tags {
  text-align: start;
}

section.roadmap {
  margin-top: 50px;
}

section.roadmap .header {
  margin-bottom: 20px;
}

section.roadmap .header .title {
  color: #1e1e1e;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
}

section.roadmap .header .title .tag {
  color: #fa4c3d;
  font-size: 12px;
}

section.roadmap .header .subtext {
  color: grey;
  margin-top: 4px;
}

section.roadmap .roadmap-slide .swiper-slide .card {
  max-width: 100%;
}

section.roadmap .roadmap-slide .swiper-slide .card-content {
  padding: 1.5rem;
  font-weight: 700;
}

section.roadmap .roadmap-slide .swiper-slide .card-image img {
  max-width: 100%;
}

section.roadmap .roadmap-slide .roadmap-btn {
  opacity: 0.85;
  cursor: pointer;
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 120px;
}

section.roadmap .roadmap-slide .roadmap-btn.disable {
  color: #efefef;
  border: 1px solid #efefef;
  cursor: not-allowed;
}

section.roadmap .roadmap-slide .roadmap-btn-prev {
  left: 0px;
}

section.roadmap .roadmap-slide .roadmap-button-next {
  right: 0px;
}

section.quration {
  margin-top: 20px;
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

section.quration .header {
  margin-bottom: 20px;
}

section.quration .header .title {
  color: #1e1e1e;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
}

section.quration .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.quration .content .quration_card {
  margin-right: 4px;
  width: 100%;
  max-width: 32.2%;
}

section.quration .content .quration_card img {
  display: block;
  max-height: 200px;
  height: 100%;
}

section.quration .content .quration_card .title {
  overflow: hidden;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  margin-bottom: 4px;
  color: #333;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}

section.quration .content .quration_card .text {
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  color: #595959;
}

section.new-courses {
  padding-top: 24px;
}

section.new-courses .title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}

section.new-courses .title .courses_tag {
  color: #fa4c3d;
  font-size: 12px;
  font-weight: 700;
}

section.new-courses .title .icon {
  color: grey;
}

section.new-courses .subtext {
  color: grey;
  font-weight: 400;
  margin-top: 4px;
}

section.new-courses .new-courses-slide {
  position: relative;
}

section.new-courses .new-courses-slide .new-courses-btn {
  opacity: 0.85;
  cursor: pointer;
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 120px;
}

section.new-courses .new-courses-slide .new-courses-btn.disable {
  color: #efefef;
  border: 1px solid #efefef;
  cursor: not-allowed;
}

section.new-courses .new-courses-slide .new-courses-button-prev {
  left: 0px;
}

section.new-courses .new-courses-slide .new-courses-button-next {
  right: 0px;
}

section.new-courses .swiper-container.new-courses {
  margin-top: 25px;
}

section.new-courses .swiper-container.new-courses .swiper-slide {
  cursor: pointer;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course {
  position: relative;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course:hover .card-front {
  opacity: 0.5;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course:hover .card-back {
  display: block;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
  display: none;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-back .course_title {
  font-size: 16px;
  line-height: 1.25;
  padding: 8px;
  font-weight: 700;
  text-overflow: ellipsis;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-back .course_description {
  padding: 8px;
  line-height: 1.25;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-back .back_course_meatas {
  color: #c5ebf8;
  padding: 8px;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-back .course_card_control {
  position: absolute;
  bottom: 0;
  right: 2px;
  color: #fff;
  line-height: 1.65;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course img {
  max-width: 100%;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-content {
  margin-top: 8px;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-content .course-title {
  font-weight: 700;
  line-height: 1.5rem;
  height: 3rem;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-content .instructor {
  color: grey;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-content .rating {
  margin-bottom: 8px;
  color: #fdcc11;
}

section.new-courses .swiper-container.new-courses .swiper-slide .card-course .card-content .rating .review_cnt {
  color: black;
}

section.new-courses .swiper-container.new-courses .swiper-slide .price {
  color: #175cbe;
  font-weight: 700;
  margin-bottom: 14px;
}

section.new-courses .swiper-container.new-courses .swiper-slide .tags {
  text-align: start;
}

section.review {
  margin-top: 24px;
}

section.review .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.review .content-left {
  padding: 40px 16px 40px 0;
}

section.review #count_user {
  color: #1dc078;
}

section.review .title {
  font-size: 2.25rem;
  line-height: 1.33;
  color: #242424;
  font-weight: 700;
  margin-bottom: 20px;
}

section.review .text {
  color: #757575;
  margin-bottom: 36px;
}

section.review .btn {
  text-decoration: none;
  border: 1px solid #1dc078;
}

section.review .content-right .swiper-container.review {
  height: 480px;
}

section.review .content-right .box {
  max-width: 590px;
  background-color: #f9f9f9;
  width: 100%;
  height: auto;
  margin: 5px;
  border-radius: 4px;
  color: #333;
}

section.review .content-right .box .box_top {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 24px;
}

section.review .content-right .box .box_bottom {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 24px;
  color: grey;
}

section.review .content-right .box .box_bottom .course {
  color: black;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */