$green: #1dc078;
// COMMON
.container{
  width: 1200px;
  margin: 0 auto;
}

.btn{
  background-color: #fff;
  color: #363636;
  border: 1px solid #DBDBDB;
  padding: 8px;
  margin-right: 8px;
}

.btn-primary{
  background-color: #ff6d5a;
  color: #fff;
}
// HEADER
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
}

#header .navbar{
  height: 64px;
  display: flex;
  align-items: center;
  box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);
}

#header .content{
  display: flex;
  position: relative;

  .brand_header .brand_logo{
    fill: $green;
    margin-right: 8px;
    padding: 10px 0;
  }

  .navbar-menu{
    display: flex;
    align-items: center;

    .left-menu{
      display: flex;

      .item{
        font-size: 16px;
        padding: 10px 16px;

        &:hover{
          color: $green;
          cursor: pointer;
        }
      }

      .dropdown{
        position: relative;

        .submenu{
          display: none;
          position: absolute;
          background-color: #fff;
          color: #000;
          width: 180px;
          height: 410px;
          top: 40px;
          left: -10px;
          box-shadow: 8px 5px 8px 1px rgba(0, 10, 18, 0.1);

          &:hover{
            display: block;
          }

          .submenu-item{
            padding: 10px 10px;
          }
        }

        .submenu-small{
          width: 120px;
          height: auto;
        }
        &:hover .submenu{
          display: block;
        }
      }
    }

    .right-menu{
      position: absolute;
      right: 0;
      display: flex;

      .search-box{
        position: relative;
        margin-right: 8px;

        .search{
          background-color: #f6f6f6;
          padding: 5px 9px;
          height: 36px;
          width: 176px;
          border: none;

          &:hover{
            border: 1px solid #b5b5b5;
          }

          &:focus{
            border-color: $green;
            outline: 2px solid $green;
          }
        }

        .search-icon{
          position: absolute;
          right: 10px;
          top: 10px;
        }

      }

      .btn-group{
        display: flex;

        a{
          text-decoration: none;
        }
      }
    }
  }
}